html{
    background-image: url(./fundo.png);
    background-position:center;
    background-repeat: no-repeat;
}
h1{
    font-family: Trebuchet, sans-serif;
    font-size: 28px;
}
p{
    font-family: Trebuchet, sans-serif;
    font-size: 14px;
}
.painel{
    background-color: rgb(225, 225, 225, 0.698);
    opacity: 90%;
    box-shadow: 10px 10px 5px rgba(59, 0, 94, 0.698);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 20px;
    width: 400px;
    height: 450px;

    margin: 5% 0 0 35%;
}
.cabecalho{
    padding: 5px 35px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    flex-direction: column;
}
.botao{
    color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.resultado{
    color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.controle-form{
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    padding: 16px 50px;
    margin: 8px 0;
    box-sizing: border-box;
    /*border: 1px solid #555;*/
    outline: none;
}
/* .controle-form:focus{
    background-color: lightblue;
    color:black;
} */